:root { 
    --stripsheight: 12vh;
    --orange:rgb(190, 112, 10);
    --blue:rgb(7, 49, 126);
   --light-blue: rgb(53, 103, 133) ;
}

*{
    box-sizing: border-box;
    background-color: rgb(141, 191, 219);
    margin: 0%;
}

header{
    width: 100%;
    height: var(--stripsheight);
    background-color: rgb(53, 103, 133) ;
}


h1{
    background-color: rgb(53, 103, 133) ;
    text-align: center;
    padding: 2vh;
    font-size: 50px;
}

article{
    height: calc(100vh - var(--stripsheight));
    display: flex;
    flex-wrap: wrap;
}

article section {
    width: calc(100vw/3);
    border: 4px solid whitesmoke;
}

h2{
    text-align: center;
    color: var(--orange);
    /* font-size: 20px; */
}

article section  {
    background-color: rgb(218, 189, 97);
}

.project{
    display: inline-block;
}

.sec{
    display: inline-block;
    background-color: rgb(141, 191, 219);
}

.sec form{
    text-align: center;
}

#button1{
    margin: 10px;
    animation:bouncy 7s infinite linear;
    position:relative;
    display:inline-block;
    text-decoration:none;
    transition: all 0.25s;
    padding:0.3em 1em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    background-color: var(--light-blue);
    border:0.12em solid var(--blue);
}
  
#button1:hover{
    color:var( --orange);
    background-color:var(--blue);
    border:0.12em solid var(--light-blue);
}

#button2{
    margin: 10px;
    animation:bouncy 7s infinite linear;
    position:relative;
    display:inline-block;
    text-decoration:none;
    transition: all 0.25s;
    padding:0.3em 1em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    background-color: var(--light-blue);
    border:0.12em solid var(--blue);
}
  
#button2:hover{
    color:var( --orange);
    background-color:var(--blue);
    border:0.12em solid var(--light-blue);
}

@keyframes bouncy{
    10%{top:0em}
    35%{top:0.2em}
    40%{top:-1em}
    42%{top:0.2em}
    44%{top:-0.3em}
    46%{top:0em}
    80%{top:0em;}
}

@media only screen and (max-width: 750px){

    header{
        height: 10vh;
    }

    article{
        height: 90vh;
    }
    
    article > section{
        width: 50%;
    }
    
    .project{
        font-size: 0.8em;
    }
}


@media only screen and (max-width: 500px){

    header{
        height: 8vh;
    }

    article{
        height: 92vh;
    }

    h1{
        padding: 1vh;
        font-size: 40px;
    }
    
    main > article section{
        width: 100vw;
        
    }

    .project{
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 360px){

    header{
        height: 6vh;
    }

    h1{
        font-size: 27px;
    }

    article{
        height: 94vh;
    }
    
    .project{
        font-size: 0.5em;
    }
}