*{
    margin: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family:  fantasy; */
    font-family: 'Dosis', sans-serif;

    
}

:root{
    --white: rgb(245, 242, 239);
    --darker-orange:rgb(112, 57, 12);
    --orange:rgb(201, 116, 5);
    --dark-brown:rgb(139, 107, 46);
    --orange-light:rgb(214, 158, 38);
    --dark-blue:rgb(5, 45, 119);
    --blue:rgb(7, 49, 126);
    /* --light-blue: rgb(113, 184, 224); */
    --blanchedalmond:blanchedalmond;
    --light-orange:rgb(245, 195, 88);
    --dark-crimson:rgb(7, 7, 7);
    /* --dark-crimson :rgb(43, 33, 33); */
    --black:rgb(7, 7, 7);
    --stripsheight: 12vh;
    /* /* --orange:rgb(190, 112, 10); */
    /* --blue:rgb(3, 28, 75); */
   /* --light-blue: rgb(53, 103, 133) ;  */
   /* --light-blue: rgb(141, 191, 219) */
   --light-blue: rgb(183, 224, 240) ; 
}

body{
    background-color: var(--light-orange);
    padding-bottom: 4rem;
    position: relative;
    min-height: 100vh;
}

.type{
    padding: 50px 25px 30px 25px;
}

.type h2{
    color: var(--darker-orange);
}


.navbar-button {
    margin-left: 20px;
    font-size: 30px;
    position: fixed;
    z-index: 100;
    cursor: pointer;
}

#show-navbar-button {
    color: var(--black);  
}

#show-navbar-button:hover {
    color: var(--orange);
}


#hide-navbar-button {
    font-size: 60px; 
    color: var(--black);  
}

#hide-navbar-button:hover {
    color: var(--orange);
    transition: 0.2s;
}

#myPhoto{
    margin-top: 20px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--blue);
    border-radius: 92%;
    align-items: center;
}

.nav_icon{
    margin-top: 50px;
    margin-left: 10px;
    display: block;
}

.icon{
    margin-top: 8px;
    margin-left: 22px;
    display: inline-block;
}

.icons{
    width: 58px;
    height: 58px;
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 6px;
}


#git{
    margin-left: 90px;
}

.medias{
    background-color: var(--light-orange);
    width: 70px;
    height: 70px;
    border-color:  var(--light-orange);
}

.nav_medias{
    background-color: var(--orange);
    width: 70px;
    height: 70px;
    border-color:  var(--orange);
}

.navbar {
    margin-top: 12vh;
    position: fixed;
    z-index: 50;
    height: 100vh;
    width: 220px;
    background-color: var(--orange);
    padding-left: 40px;
    transition: 0.5s;
    border-radius: 8px;
}

#github:hover{
    background-color: var(--orange-light);
}

#linkedIn:hover{
    background-color: var(--orange-light);
}

#nav_github:hover{
    background-color: var(--white);
}

#nav_linkedIn:hover{
    background-color: var(--white);
}

#hide-navbar{
    transform: translateX(-200%);
}

#show-navbar {
    transform: translateX(0);
}

a {
    display: block;
    font-size: 24px;
    padding-top: 50px; 
    list-style: none;
    text-decoration: none;
    color: var(--dark-crimson);   
}

a:hover{
    color: var(--white);
}

#about{
    text-align: center;
    font-weight: 600;
    background-color: var(--orange);
    border-radius: 60px;
    margin:40px 300px 10px 300px;
    height: 80px;
    font-size: 46px;
    padding-top: 14px;
}

#welcome{
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

#firstInfo{
    text-align: justify;
    padding: 10px;
    margin: 20px 240px 20px 240px;
    text-justify: inherit;
    color: var(--dark-crimson);
    font-size: 22px;
    border-radius: 60px;
    font-size: 20px;
}

p{
    font-size: 20px;
    font-weight: 500;
}

#firstInfoparaph{
    padding-top: 15px;
}

#lastInfoparaph{
    padding-bottom: 15px;
}

h1{
    border-top: 5px solid var(--blue);
    color:  var(--dark-crimson);
    font-size: 70px;
    font-weight: 700;
    padding-top: 10vh;
    text-align: center;
    width: 50%;
    display:inline-block;
}

section{
    right: 0;   
    display: block;  
}


#thechnical_skills{
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    background-color: var(--orange);
    border-radius: 60px;
    margin:60px 300px 60px 300px;
    height: 80px;
    font-size: 46px;
    padding-top: 14px;
}

header .topnav {
    display:inline-flex;
    padding: 0px;
    margin: 0;
    right: 0;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between; 
    position: absolute;
    top: 0;  
}


.topnav a {
    top: 15px;
    right: 25px;   
    color:var(--dark-crimson);
    text-align: center;
    padding: 15px 15px;
    font-size: 25px;
    text-decoration: none;
    overflow: hidden;
    justify-content: center; 
    font-weight: 800;
}

.topnav a:hover {
    color:var(--white);
}


#skills {
    align-items: center;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: auto;
}


.skill_icons { 
    margin: 18px;
    width: 120px; 
    height: 120px;
}

.my-skills {
    position: relative;
    width: 180px;
    height: 180px;
}

.skill-name {
    visibility: hidden;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    color:var(--dark-crimson);
    margin-bottom: 10px;
    bottom: 4px;
}

.my-skills:hover {
    background: var(--orange);
    width: 187px;
    height: 187px;
    transition: 0.5s ease;
}


.my-skills:hover .skill-name {
    visibility: visible;
    padding: 25px 35px;
    width: 175px;
    height: 25px;
    transition: 0.5s ease;
}

#projects{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    background-color: var(--orange);
    border-radius: 60px;
    margin:60px 300px 60px 300px;
    height: 80px;
    font-size: 46px;
    padding-top: 14px;
}

#project_section{
    text-align: justify;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto;
}

article section {
    /* width: calc(100vw/3); */
    border: 4px solid var(--blue);
}

h2{
    padding-top: 24px;
    text-shadow:1px 1px 3px #fff, 1px 1px 3px #fff;
    text-align: center;
    color: var(--orange );
    font-weight: bolder;
    font-size: 35px;
}

.project{
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.sec{
    background-color:var(--light-blue);
    width: 100%;
}

.sec form{
    text-align: center;
}

#button1{
    margin: 10px;
    animation:bouncy 8s infinite linear;
    position:relative;
    display:inline-block;
    text-decoration:none;
    transition: all 0.25s;
    padding:0.3em 1em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    background-color:var(--blue);
    color: var(--orange);
    font-size: larger;
    font-weight: bold;
    border:0.12em solid var(--blue);
}
  
#button1:hover{
    color:var( --white);
    background-color: var(--orange);
    border:0.12em solid var(--light-blue);
}

#button2{
    margin: 10px;
    animation:bouncy 8s infinite linear;
    position:relative;
    display:inline-block;
    text-decoration:none;
    transition: all 0.25s;
    padding:0.3em 1em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    color: var(--orange);
    font-size: larger;
    font-weight: bold;
    background-color:var(--blue);
    border:0.12em solid var(--blue);
}
  
#button2:hover{
    color:var( --white);
    background-color: var(--orange);
    border:0.12em solid var(--light-blue);
}

@keyframes bouncy{
    10%{top:0em}
    35%{top:0.2em}
    40%{top:-1em}
    42%{top:0.2em}
    44%{top:-0.2em}
    46%{top:0em}
    60%{top:0em;}
}

footer{
    width: 100%;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    height: 4rem;             
}

h3{
    text-align: center;
    padding-top: 18px;
}

label{
    font-size: larger;
}

#contact{
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    background-color: var(--orange);
    border-radius: 60px;
    margin:50px 300px 40px 300px;
    height: 80px;
    font-size: 46px;
    padding-top: 12px;
}

.contact{
    position: relative;
    display:inline-block;
}

#information{
    margin-left: 30vw;
    width: 20%;
}

#description{
    width: 45%;
}

#information input{
    display: block;
}

label{
    color: var(--darker-orange);
}

#massage-submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: center;
    background-color:var(--blue);
    color: var(--orange);
    font-size: larger;
    font-weight: bold;
    /* margin: 10px; */
}

#massage-submit:hover{
    color:var( --white);
    background-color: var(--orange);
    border:0.12em solid var(--blue);
}

@media only screen and (max-width: 1280px){

    #project_section{
        grid-template-columns: repeat(2,auto);
    }

    #about{
        margin:40px 250px 10px 250px;
    }

    #projects{
        margin:50px 250px 60px 250px;
    }

    #thechnical_skills{
        margin:40px 250px 40px 250px;
    }

    #firstInfo{
        margin: 20px 200px 20px 200px;
    }

}

@media only screen and (max-width: 1000px){

    #skills {

        grid-template-columns: repeat(4,auto);
    }

    #about{
        margin:40px 230px 10px 230px;
        font-weight: 580;
        font-size: 42px;
        padding-top: 13px;
    }

    #projects{
        margin:50px 230px 60px 230px;
        font-weight: 580;
        font-size: 42px;
        padding-top: 13px;
    }

    #thechnical_skills{
        margin:40px 230px 40px 230px;
        font-weight: 580;
        font-size: 42px;
        padding-top: 13px;
    }

    #firstInfo{
        margin: 20px 180px 20px 180px;
    }

}

@media only screen and (max-width: 900px){

    #skills {

        grid-template-columns: repeat(3,auto);
    }

    #about{
        margin:40px 200px 10px 200px;
        font-weight: 580;
        font-size: 40px;
        padding-top: 12px;
    }

    #projects{
        margin:40px 200px 40px 200px;
        font-weight: 580;
        font-size: 40px;
        padding-top: 12px;
    }

    #thechnical_skills{
        margin:40px 200px 40px 200px;
        font-weight: 580;
        font-size: 40px;
        padding-top: 12px;
    }

    #firstInfo{
        margin: 15px 150px 15px 150px;
    }

    .topnav a{
        font-size: 21px;
        padding: 10px 10px;
        right: 18px;
    }

    p{
        font-size: 18px;
    }

    .project{
        font-size: 16px;
    }

    #git{
        margin-left: 75px;
    }

}

@media only screen and (max-width: 800px){
    p{
        font-size: 17px;
    }

    h2{
        font-size: 32px;
    }
}

@media only screen and (max-width: 760px){

    #about{
        margin:30px 170px 5px 170px;
        font-weight: 570;
        font-size: 36px;
        padding-top: 12px;
        height: 70px;
    }

    #projects{
        margin:40px 170px 40px 170px;
        font-weight: 570;
        font-size: 36px;
        padding-top: 12px;
        height: 70px;
    }

    #thechnical_skills{
        margin:40px 170px 40px 170px;
        font-weight: 570;
        font-size: 36px;
        padding-top: 12px;
        height: 70px;
    }

    #firstInfo{
        margin: 12px 120px 12px 120px;
    }

}


@media only screen and (max-width: 700px){

    #project_section{
        grid-template-columns: repeat(1,auto);
    }

    .project{
        font-size: 17px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .topnav a{
        font-size: 18px;
        right: 10px;
    }

    #git{
        margin-left: 60px;
    }

    #about{
        margin:30px 158px 5px 158px;
        font-weight: 570;
        font-size: 36px;
        padding-top: 12px;
    }

    #projects{
        margin:40px 158px 40px 158px;
        font-weight: 570;
        font-size: 36px;
        padding-top: 12px;
    }

    #thechnical_skills{
        margin:40px 158px 40px 158px;
        font-weight: 570;
        font-size: 36px;
        padding-top: 12px;
    }

    #firstInfo{
        margin: 10px 107px 10px 107px;
    }

    .skill_icons { 
        margin: 15px;
        width: 102px; 
        height: 102px;
    }
    
    .my-skills {
        position: relative;
        width: 160px;
        height: 160px;
    }
    
    .my-skills:hover {
        width: 167px;
        height: 167px;
    }
}

@media only screen and (max-width: 760px){

    #about{
        margin:30px 150px 5px 150px;
        font-weight: 570;
        font-size: 36px;
        padding-top: 12px;
        height: 70px;
    }

    #projects{
        margin:40px 150px 40px 150px;
        font-weight: 570;
        font-size: 36px;
        padding-top: 12px;
        height: 70px;
    }

    #thechnical_skills{
        margin:40px 170px 40px 170px;
        font-weight: 570;
        font-size: 36px;
        padding-top: 12px;
        height: 70px;
    }

    #firstInfo{
        margin: 8px 95px 8px 95px;
    }

}



@media only screen and (max-width: 600px){

    .project{
        font-size: 17px;
        padding-left: 28px;
        padding-right: 28px;
    }

    #about{
        margin:25px 130px 5px 130px;
        font-weight: 570;
        font-size: 34px;
        padding-top: 12px;
    }

    #projects{
        margin:35px 130px 35px 130px;
        font-weight: 570;
        font-size: 34px;
        padding-top: 12px;
    }

    #thechnical_skills{
        margin:35px 130px 35px 130px;
        font-weight: 570;
        font-size: 34px;
        padding-top: 12px;
    }

    #firstInfo{
        margin: 6px 80px 6px 80px;
    }

    .project{
        font-size: 16px;
    }

    h2{
        font-size: 28px;
        padding-top: 18px;
    }

    .topnav a{
        font-size: 17px;
        padding: 7px 7px;
    }

    .icons{
        width: 50px;
        height: 50px;
        margin-right: 4px;
        margin-bottom: 3px;
    }

    .icon{
        margin-left: 15px;
    }
    
    .medias{
        width: 60px;
        height: 60px;
    }

    .skill_icons { 
        margin: 15px;
        width: 85px; 
        height: 85px;
    }
    
    .my-skills {
        position: relative;
        width: 140px;
        height: 140px;
    }
    
    .my-skills:hover {
        width: 147px;
        height: 147px;
    }


    .skill-name {
        font-size: 15px;
        margin-bottom: 8px;
        bottom: 4px;
    }
    
    .my-skills:hover .skill-name {
        padding: 25px 35px;
        width: 145px;
        height: 25px;
    }

    .type{
        padding: 35px 25px 25px 25px;
    }
    

}


@media only screen and (max-width: 500px){

    .project{
        font-size: 17px;
        padding-left: 22px;
        padding-right: 22px;
    }

    #about{
        margin:20px 90px 5px 90px;
        font-weight: 570;
        font-size: 32px;
        padding-top: 14px;
    }

    #projects{
        margin:30px 90px 30px 90px;
        font-weight: 570;
        font-size: 32px;
        padding-top: 14px;
    }

    #thechnical_skills{
        margin:30px 90px 30px 90px;
        font-weight: 570;
        font-size: 32px;
        padding-top: 14px;
    }

    #firstInfo{
        margin: 4px 50px 4px 50px;
    }

    .topnav a{
        font-size: 16px;
        padding: 6px 6px;
    }

    .icons{
        width: 40px;
        height: 40px;
        margin-right: 3px;
        margin-bottom: 2px;
    }

    .icon{
        margin-left: 12px;
    }
    
    .medias{
        width: 50px;
        height: 50px;
    }

    .skill_icons { 
        margin: 15px;
        width: 85px; 
        height: 85px;
    }
    
    .my-skills {
        position: relative;
        width: 115px;
        height: 115px;
    }
    
    .my-skills:hover {
        width: 120px;
        height: 120px;
    }


    .skill-name {
        font-size: 14px;
        margin-bottom: 2px;
        bottom: 2px;
    }
    
    .my-skills:hover .skill-name {
        padding: 18px 23px;
        width: 120px;
        height: 25px;
    }

    h2{
        font-size: 25px;
        padding-top: 15px;
    }

}

@media only screen and (max-width: 450px){

    #about{
        margin:15px 70px 2px 70px;
        font-size: 28px;
        height: 55px;
        padding-top: 11px;
    }

    #projects{
        margin:25px 70px 25px 70px;
        font-size: 28px;
        height: 55px;
    }

    #thechnical_skills{
        margin:25px 70px 25px 70px;
        font-size: 28px;
        height: 55px;
    }

    #firstInfo{
        margin: 2px 32px 2px 32px;
    }

    .topnav a{
        font-size: 14px;
        padding: 5px 5px;
    }

    .icons{
        width: 36px;
        height: 36px;
        margin-right: 3px;
        margin-bottom: 2px;
    }

    .icon{
        margin-left: 11px;
    }
    
    .medias{
        width: 45px;
        height: 45px;
    }

    .skill_icons { 
        margin: 15px;
        width: 70px; 
        height: 70px;
    }
    
    .my-skills {
        position: relative;
        width: 100px;
        height: 100px;
    }
    
    .my-skills:hover {
        width: 105px;
        height: 105px;
    }

    .skill-name {
        font-size: 12px;
        margin-bottom: 2px;
        bottom: 2px;
    }
    
    .my-skills:hover .skill-name {
        padding: 15px 20px;
        width: 110px;
        height: 25px;
    }

    h2{
        font-size: 22px;
        padding-top: 13px;
    }

    .navbar {
        width: 190px;
    }

    .type{
        padding: 25px 25px 15px 25px;
    }

    #myPhoto{
        margin-top: 15px;
        height:170px;
    }
}


@media only screen and (max-width: 400px){

    #about{
        margin:10px 58px 2px 58px;
        font-size: 25px;
        height: 45px;
        padding-top: 10px;
    }

    #projects{
        margin:30px 58px 20px 58px;
        font-size: 25px;
        height: 45px;
        padding-top: 13px;
    }

    #thechnical_skills{
        margin:20px 58px 20px 58px;
        font-size: 25px;
        height: 45px;
        padding-top: 13px;
    }

    #firstInfo{
        margin: 2px 32px 2px 32px;
    }

    .topnav a{
        font-size: 12px;
        padding: 4px 4px;
    }

    .icons{
        width: 30px;
        height: 30px;
        margin-right: 6px;
        margin-bottom: 5px;
    }

    .icon{
        margin-left: 9px;
    }
    
    .medias{
        width: 40px;
        height: 40px;
    }

    .skill_icons { 
        margin: 10px;
        width: 60px; 
        height: 60px;
    }
    
    .my-skills {
        position: relative;
        width: 85px;
        height: 85px;
    }
    
    .my-skills:hover {
        width: 90px;
        height: 90px;
    }

    .skill-name {
        font-size: 11px;
        margin-bottom: 2px;
        bottom: 2px;
    }
    
    .my-skills:hover .skill-name {
        padding: 12px 17px;
        width: 100px;
        height: 25px;
    }

    h2{
        font-size: 20px;
        padding-top: 11px;
    }

    .navbar {
        width: 170px;
    }

    .type{
        padding: 8px 25px 8px 25px;
    }
}


@media only screen and (max-width: 360px){

    #about{
        margin:10px 48px 2px 48px;
        font-size: 22px;
        height: 42px;
        padding-top: 8px;
    }

    #projects{
        margin:10px 48px 10px 48px;
        font-size: 22px;
        height: 45px;
        padding-top: 8px;
    }

    #thechnical_skills{
        margin:10px 48px 2px 48px;
        font-size: 22px;
        height: 45px;
        padding-top: 8px;
    }

    #firstInfo{
        margin: 2px 25px 2px 25px;
    }

    .topnav a{
        font-size: 11px;
        padding: 3px 3px;
    }

    .icons{
        width: 30px;
        height: 30px;
        margin-right: 6px;
        margin-bottom: 5px;
    }

    .icon{
        margin-left: 7px;
    }
    
    .medias{
        width: 37px;
        height: 37px;
    }

    .skill_icons { 
        margin: 7px;
        width: 55px; 
        height: 55px;
    }

    #git{
        margin-left: 50px;
    }
    
    .my-skills {
        position: relative;
        width: 68px;
        height: 68px;
    }
    
    .my-skills:hover {
        width: 75px;
        height: 75px;
    }

    h2{
        font-size: 18px;
        padding-top: 7px;
    }

    .navbar {
        width: 150px;
    }

    .type{
        padding: 5px 25px 5px 25px;
    }
}