*{
    margin: 0;
    box-sizing: border-box;
    font-family: Jazz LET, fantasy;
}

:root{
    --orange:rgb(201, 116, 5);
    --dark-brown:rgb(139, 107, 46);
    --dark-orange:rgb(221, 168, 54);
    --dark-blue:rgb(5, 45, 119);
    --blue:rgb(7, 49, 126);
    /* --light-blue: rgb(113, 184, 224); */
    --blanchedalmond:blanchedalmond;
    --light-orange:rgb(245, 195, 88);
    --dark-crimson :rgb(43, 33, 33);
    --stripsheight: 12vh;
    /* /* --orange:rgb(190, 112, 10); */
    /* --blue:rgb(3, 28, 75); */
   /* --light-blue: rgb(53, 103, 133) ;  */
   --light-blue: rgb(141, 191, 219)
}

body{
    background-color: var(--light-orange);
}

header{
    background-color:var(--light-blue);
    height: 30vh;
    display: flex;
    border-bottom: 5px solid var(--blue);

}

#about{
    /* padding-top: 40px;
    padding-bottom: 40px; */
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    background-color: var(--orange);
    border-radius: 60px;
    margin:30px 120px 30px 120px;
    height: 80px;
    padding-top: 20px;
}

#welcome{
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

#firstInfo{
    padding: 10px;
    border: 10px solid var(--blue);
    margin: 50px 180px 60px 180px;
    text-justify: inherit;
    color: var(--dark-crimson);
    font-size: 22px;
    border-radius: 60px;
}

p{
    font-weight: 500;
}

#firstInfoparaph{
    padding-top: 15px;
}

#lastInfoparaph{
    padding-bottom: 15px;
}

h1{
    border-top: 5px solid var(--blue);
    color:  var(--dark-crimson);
    font-family: Jazz LET, fantasy;
    font-size: 60px;
    font-weight: 600;
    padding-top: 10vh;
    text-align: center;
    width: 50%;
    display:inline-block;
}

section{
    right: 0;   
    display: block;  
}

.links{ 

    right: 0;
    height: calc(29vh / 4);
    background-color:var(--dark-blue);
    font-weight: 800;
}

#myPhoto{
    height:calc(100vh - 10px);
    display: inline-block;
    border: 5px solid var(--blue);

}

header #myPhoto{
    width: 19vw;
    height: 30vh;
    display: inline-block;
}

header h1{
    width:61vw; 
    /* display: flex; */
}

#thechnical_skills{
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    background-color: var(--orange);
    border-radius: 60px;
    margin:60px 120px 60px 120px;
    height: 80px;
    padding-top: 20px;
}

.topnav {
    border-top: 5px solid var(--blue);
}

header .topnav {
    display:inline-block;
    padding: 0px;
    margin: 0;
    overflow: hidden;
    width: 20vw;
    right: 0; 
    top: 0;  
    background-color: var(--blue);
}


.topnav a {
    right: 0;   
    display: block;
    color:var(--orange);
    text-align: center;
    padding: 15px 15px;
    font-size: 20px;
    width: 100%;
    text-decoration: none;
    overflow: hidden;
    justify-content: center; 
}


#skills {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: auto;
}

.iconify { 
    margin: 18px;
    width: 120px; 
    height: 120px;
}

.my-skills {
    position: relative;
    width: 180px;
    height: 180px;
}

.skill-name {
    visibility: hidden;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    color:var(--dark-crimson);
    margin-bottom: 10px;
    bottom: 4px;
}

    
.topnav a:hover {
    background-color:var(--light-orange);
}

.my-skills:hover {
    background: var(--orange);
    width: 187px;
    height: 187px;
    transition: 0.5s ease;
}


.my-skills:hover .skill-name {
    visibility: visible;
    padding: 25px 35px;
    width: 175px;
    height: 25px;
    transition: 0.5s ease;
}

#projects{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    background-color: var(--orange);
    border-radius: 60px;
    margin:60px 120px 60px 120px;
    height: 80px;
    padding-top: 20px;
}

/* h1{
    background-color: rgb(53, 103, 133) ;
    text-align: center;
    padding: 2vh;
    font-size: 50px;
} */

article{
    height: calc(100vh - var(--stripsheight));
    display: flex;
    flex-wrap: wrap;
}

article section {
    width: calc(100vw/3);
    border: 4px solid var(--blue);
}

h2{
    text-align: center;
    color: var(--orange );
    font-weight: 700;
    font-size: 28px;
}

.project{
    display: inline-block;
}

.sec{
    display: inline-block;
    background-color: rgb(141, 191, 219);
}

.sec form{
    text-align: center;
}

#button1{
    margin: 10px;
    animation:bouncy 7s infinite linear;
    position:relative;
    display:inline-block;
    text-decoration:none;
    transition: all 0.25s;
    padding:0.3em 1em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    background-color: var(--light-blue);
    border:0.12em solid var(--blue);
}
  
#button1:hover{
    color:var( --orange);
    background-color:var(--blue);
    border:0.12em solid var(--light-blue);
}

#button2{
    margin: 10px;
    animation:bouncy 7s infinite linear;
    position:relative;
    display:inline-block;
    text-decoration:none;
    transition: all 0.25s;
    padding:0.3em 1em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    background-color: var(--light-blue);
    border:0.12em solid var(--blue);
}
  
#button2:hover{
    color:var( --orange);
    background-color:var(--blue);
    border:0.12em solid var(--light-blue);
}

@keyframes bouncy{
    10%{top:0em}
    35%{top:0.2em}
    40%{top:-1em}
    42%{top:0.2em}
    44%{top:-0.3em}
    46%{top:0em}
    80%{top:0em;}
}

@media only screen and (max-width: 750px){

    header{
        height: 10vh;
    }

    article{
        height: 90vh;
    }
    
    article > section{
        width: 50%;
    }
    
    .project{
        font-size: 0.8em;
    }
}


@media only screen and (max-width: 500px){

    header{
        height: 8vh;
    }

    article{
        height: 92vh;
    }

    h1{
        padding: 1vh;
        font-size: 40px;
    }
    
    main > article section{
        width: 100vw;
        
    }

    .project{
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 360px){

    header{
        height: 6vh;
    }

    h1{
        font-size: 27px;
    }

    article{
        height: 94vh;
    }
    
    .project{
        font-size: 0.5em;
    }
}


